*{
   padding: 0;
   margin: 0;
   border: none;
   outline: none;
   box-sizing: border-box;
}
/* body{
    display: flex;
    
} */
.sidebar{
position: sticky;
top: 0;
left: 0;
bottom: 0;
width: 200px;
height: 100vh;
padding: 0 1.7rem;
color: #fff;
overflow: hidden;
transition: all 0.5s linear;
background-color:black;
}
.logo{
    height: 80px;
    padding: 16px;
    
}
.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.main li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.main li:hover, .active{
    background-color: #e0e0e054;
}
.main a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.main a span{
    overflow: hidden;

}
.main a i{
    font-size: 1.2rem;
}